/* I don't want a background colour on the menu unless it's on a tiny device */
@media only screen and (min-width : 768px) {
    .navbar-default {
        background-color: transparent;
        border: 0;
    }

        .navbar-default .navbar-brand {
            color: transparent;
        }
}

.navbar-nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12pt;
}

.pagination > li.active > a {
    background-color: #768da2;
    color: #ffffff!important;
}

.active a {
    color: #DF4A00 !important;
}

.title-alert {
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align:center;
    font-weight:bold;
    font-size: 12pt;
}

.main-menu {
    margin-top:6px;
}

.pagination {
    margin-top: 0px;
    margin-bottom: 10px;
}

.width-med {
    margin: 0 auto;
    max-width: 1100px;
    
}

.width-sm {
    margin: 0 auto;
    max-width: 800px;
}

/* no background color on active menu items pls..*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

/* x-small screens */
@media only screen and (max-width : 400px) {

    #smallDialogBox .modal-dialog {
        max-width: 340px;
    }
   
    .review-answer {
        max-width:50px;
        
    }

}

/* non x-small screens */
@media only screen and (min-width : 400px) {

    .review-answer {
        width: 100px;
    }
}

/* scrollable tables */
.scroll-height-normal {
    max-height:240px;
}

.scroll-height-large {
    max-height: 500px;
}

table.coylegrouptable th, table.coylegrouptable.header {
    color: #00548D;
    font-size: smaller;
    background-color: #F5F5F5;
}

table.coylegrouptable td {
    color: #696969;
    font-size: smaller;
    background-color: #ffffff;
}

.repeatheader {
    color: #00548D !important;
    font-weight: bold;
    background-color: #F5F5F5 !important;
}

.repeatheader_dark {
    color: #ffffff !important;
    font-weight: bold;
    background-color: #898989 !important;
}

.rowheader {
    color: #000000 !important;
    font-weight: bold;
    background-color: #d6d5d5 !important;
}

.page-header {
    margin-left: 10px;
    font-size: larger;
}
