@font-face {
	font-family: "Noto Sans";
	font-weight: normal;
	src: url(fonts/Noto-Sans/NotoSans-Regular.ttf);
}

@font-face {
	font-family: "Noto Sans";
	font-weight: bold;
	src: url(fonts/Noto-Sans/NotoSans-Bold.ttf);
}

@font-face {
	font-family: "Noto Sans";
	font-weight: bold;
	font-style: italic;
	src: url(fonts/Noto-Sans/NotoSans-BoldItalic.ttf);
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	src: url(fonts/Noto-Sans/NotoSans-Italic.ttf);
}

@font-face {
	font-family: "Minion";
	font-weight: normal;
	src: url(fonts/Minion/MinionPro.ttf);
}

@font-face {
	font-family: "MinionPro";
	font-weight: normal;
	src: url(fonts/Minion/MinionPro-Regular.otf) format("opentype");
}

