.socialmedia-panel {
    min-height: 60px;
    background-color: black;
    color: #F4B220;
    padding: 20px;
}
    /* white text on certain links */
    .socialmedia-panel .title, .socialmedia-panel a:link, .socialmedia-panel a:visited, .socialmedia-panel a:hover, .socialmedia-panel a:active {
        color: #ffffff;
    }

    /* orange social media icons */
    .socials a:link, .socials a:visited, .socials a:hover, .socials a:active {
        color: #F4B220;
    }

.sitecontainer {
    margin: 0 auto;
    max-width: 1400px;
    background-color: #ffffff;
    margin-top: 0px;
    min-height: 500px; /* pushes the footer down on less busy pages*/
}

/* https://www.thoughtco.com/tips-for-creating-watermarks-3466887 */
.watermark {
    background-image: url('../images/Watermark.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: initial;
}

/* footer */
.company-address { 
    border-top: 1px solid #696969;
    padding-left:100px;
    padding-top: 14px;
}

.twitter-feed {
    min-width: 400px;
    color: #ffffff;
    background-color: #ffffff;
    margin: 10px;
}

.footer {
    color: #ffffff;
    background-color: #2B2B2B;
    height: 60px;
    text-align: center;
    padding: 20px;
}

.content {
    padding: 0px;
}


.border-fix {
    border-left: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
}
/* define the basic styles for the page */
.content, .contentbutton {
    font-family: "Noto Sans" sans-serif;
    font-size: 11pt;
    color: #323232;
}

/* darker blue for some titles */
.darker {
    color: #00538F;
}

/* switch off all underlining of links */
.content a:link, .content a:visited, .content a:hover,  .content a:active {
    text-decoration: none;
}

/* http://www.cssmatic.com/box-shadow */
.dropshadow {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}


.spacer-x {
    padding-left:10px;
}

.spacer-y {
    padding-top:25px;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.centered {
    text-align: center;
}

.text-b {
    font-weight: bold;
}

/* nice easy left + right-align classes */
.fleft {
    float:left;
}

.right {
    float:right;
}

/* vertical alignment styles */
.v-top {
    vertical-align:top;
}
.v-middle {
    vertical-align:middle;
}
.v-bottom {
    vertical-align:bottom;
}

/*
    remember that bootstrap adds in margins between cols even when you don't want them!
*/
.remove-left-margin {
    margin-left: -15px;
}

.remove-right-margin {
    margin-right: -15px;
}

.remove-margins {
    margin-left: -15px;
    margin-right: -15px;
}
