 
.videoplayer {
    width: 710px;
    height: 330px;
}

.modal-dialog{
    width:740px;
    height: 390px;
}

.video-close-btn {
    padding-right:20px;
    margin-bottom: 10px;
}

@media only screen and (max-width : 400px) {
    .modal-dialog{
        max-width: 350px !important;
        height: 390px;
    }
    .videoplayer {
        width: 330px;
        height: 180px;
    }

    .video-close-btn {
        padding-right:5px;
        margin-bottom: 5px;
    }

}


